.root {
  background-color:rgb(135, 206, 235);
  margin: 0;
}

.page {
  max-width: 1280px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px;
}

.header {
  width: 80%;
  border-bottom: 1px solid rgba(139, 0 ,255, .1);
  margin: 0 auto;

}

.logo {
  margin: 0 auto;
  width: 676px;
  display: block;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 950px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
}
.button {
  margin: 20px auto 0;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgb(255,192,203);
  background-color: rgb(250,218,221);
  padding: 10px 80px;
  font-size: 18px;
}

.button:hover {
  box-shadow: 1px 1px 10px rgba(139, 0 ,255, .8);
}

.footer {
  margin: 0;
  background-color: black;
  color: white;
  height: 100px;
  padding-top: 50px;
  gap: 20px;
}

.pharagrah {
  margin: 0 0 20px 20px;
}

@media screen and (max-width: 1023px) {
    .footer {
        display: none;
    }

    .button {
      font-size: 30px;
    }
}